# For the iCE5LP4K based IcyBlue (iCE5LP4K-QFN) Development Board

set_io LED_R 41
set_io LED_G 40
set_io LED_B 39
set_io LED2 2
set_io LED3 3

set_io RGB[0] 41
set_io RGB[1] 40
set_io RGB[2] 39

set_io cpu_out[1] 3
set_io cpu_out[0] 2

set_io cpu_fill[7] 6
set_io cpu_fill[6] 9
set_io cpu_fill[5] 10
set_io cpu_fill[4] 11
set_io cpu_fill[3] 12
set_io cpu_fill[2] 13
set_io cpu_fill[1] 18
set_io cpu_fill[0] 19

set_io instr_we 20

set_io reset 4
set_io rst 4

set_io BUS8[0] 37
set_io BUS8[1] 38
set_io BUS8[2] 42
set_io BUS8[3] 43
set_io BUS8[4] 44
set_io BUS8[5] 45
set_io BUS8[6] 46
set_io BUS8[7] 47

set_io MUX3[0] 9
set_io MUX3[1] 10
set_io MUX3[2] 11

set_io out[0] 6
set_io out[1] 9
set_io out[2] 10
set_io out[3] 11
set_io out[4] 12
set_io out[5] 13
set_io out[6] 18
set_io out[7] 19
set_io out[8] 20
set_io out[9] 21
set_io out[10] 23
set_io out[11] 25
set_io out[12] 37
set_io out[13] 38
set_io out[14] 42
set_io out[15] 43

set_io stage[0] 44
set_io stage[1] 45
set_io stage[2] 46

#GPIO
set_io P4 4
set_io P6 6
set_io P9 9
set_io P10 10
set_io P11 11
set_io P12 12
set_io P13 13
set_io P18 18
set_io P19 19
set_io P20 20
set_io P21 21
set_io P23 23
set_io P25 25
set_io P37 37
set_io P38 38
set_io P42 42
set_io P43 43
set_io P44 44
set_io P45 45
set_io P46 46
set_io P47 47
set_io P48 48

#spi
set_io SPI_SS 16
set_io SPI_SCK 15
set_io SPI_MOSI 17
set_io SPI_MISO 14
